<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Hub</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="/image/fav.png" />
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/new.css" />
    
</head>

    <style>
                .profile-image {
                    border-radius: 50px;
                    height: 100px;
                    width: 100px;
                    text-align: center;
                    margin-left: 45%;
                }
    </style>

<body>
    <!-- menu navbar -->

    <div class="navbar-fixed">
        <nav class="black">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">Game<span class="hub">Hub</span></a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="/tournament">Tournament</a></li>
                            <% if(login == true) { %>

                            <li><a href="/account" class="active">My Account</a></li>
                            <li><a href="/signup/logout">Logout</a></li>
                            <a class="waves-effect waves-light btn dropdown-trigger btn red darken-4">Hi
                                <%= result[0][0].name %></a>
                            <!-- dropdown -->

                            <% } else { %>
                            <a class="waves-effect waves-light btn modal-trigger red darken-4"
                                href="/login">Login/Signup</a>
                            <% } %>
                        </ul>
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <!-- profile area -->
 
    <div class="container">
        <div class="col s8">
            <div class="card" style="background-color: black;">
                <center><h5>My Profile</h5></center>
                <div class="card-body">
                    <img class="profile-image" src="image/pubgdetail.jpg" style="border-radius: 50px;">
                </div>    
                <div class="list">
                    <i class="large material-icons" style="color: white;">add</i>
                    <i class="large material-icons" style="color: white;">add</i>
                    <i class="large material-icons" style="color: white;">add</i>
                </div>   
            </div>
        </div>
    </div>

    <% if (messages.error) { %>
        <center> <div class="alert alert-danger error" role="alert"><%- messages.success %></div> </center>
           <% } %>
    <div class="container">
        <h5>My Tournament</h5>
        <% if(result[1].length) { %>
        <div class="row">
            <% for(i=0;i<result[1].length;i++){ %>
            <div class="col s12 m4">
              <div class="card z-depth-5">
                <div class="card-image" >
                  <img src="image/pubg.jpg">
                  <span class="card-title"><%= result[1][i]. tournamentname %></span>
                  <a href="/tournament-detail?id=<%= result[1][i].id %>" class="btn-floating pluse halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content" style="height: 24vh;">
                    <i class="material-icons">calendar_today</i><p class="detail"><%= result[1][i]. startdate %></p><br>
                    <i class="material-icons">map</i><P class="detail"><%= result[1][i]. map %></P>
                    <i class="material-icons price">emoji_events</i><p class="detail-right"><%= result[1][i]. poolprice %></p><br><br><br>
                    <i class="material-icons price">group</i><p class="detail-right"><%= result[1][i]. type %></p>
                </div>
              </div>
            </div>
            <% } %>
            <% } %>
    </div>
    

    <% if(!result[1].length) { %>

        <h2 class="text-center" style="color: white;">No Tournament Yet</h2>
        <% } %>

    <!-- footer -->
    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">
                        You can use rows and columns here to organize your footer content.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>



    <script>
        function showMenu() {
  if ($('.menu').css("display") != "none") {
    $('.menu').css("display", "none");
  }
  else{
     $('.menu').css("display", "block");
    $('.menu').addClass('animated bounceIn');
  }
}
    </script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>