<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="XebSQqrwtNL0QbAlYAQ4jN-KPW5-Yja_Ic_6V16OrgY" />
	<title>Game Hub</title>
	<script data-ad-client="ca-pub-3823036483007859" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> 
	 <!--Import Google Icon Font-->
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	 <link rel="shortcut icon" type="image/png" href="/image/fav.png" />
	 <!--Import materialize.css-->
	 <!-- Compiled and minified CSS -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/new.css">
	<!-- google tag -->


	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164265320-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-164265320-1');
		</script>
</head>

<body>

	<!-- menu navbar -->


	<div class="navbar-fixed">
        <nav class="black">
          <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Gameing<span class="hub">Hub</span></a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                  <i class="material-icons">menu</i>
                  <ul class="right hide-on-med-and-down">
                      <li><a href="/tournament">Tournament</a></li>
					  <% if(login == true)  { %>

						<li><a href="/account">My Account</a></li>
						<li><a href="/signup/logout">Logout</a></li>
						<a class="waves-effect waves-light btn dropdown-trigger btn red darken-4">Hi <%= result[0][0].name %></a>
						<!-- dropdown -->

						<% } else { %>
							<a class="waves-effect waves-light btn modal-trigger red darken-4" href="/login">Login/Signup</a>
						<% } %>
                  </ul>
                </a>
            </div>
          </div>
        </nav>
	  </div>

	<!-- banner image -->
	<div class="banner">
		<div class="banner-container text-center">
			<h1 class="jsx-3586416327 heading my-5">INDIA'S LARGEST<br class="heading-text">
				GAMING COMMUNITY</h1>

			<p class="subtitle my-5">Participate in tournaments, watch livestreams,<br>
				chat with other gamers, discover content and a lot more!</p>

				<% if(login == true)  { %>
					<h5>LET'S PLAY NOW YOU ARE MEMBER OF OUR TEAM</h5>
					<a class="waves-effect waves-light btn dropdown-trigger btn red darken-4" href="/tournament">TOURNAMENT</a>
					<% } else { %>
						<h5>LET'S PLAY TO EARN MONEY</h5>

				<a class="waves-effect waves-light btn modal-trigger red darken-4" href="/login">Login/Signup</a>
					<% } %>

		</div>
	</div>

	<% if(login == true)  { %>
			<!-- card tournament area -->
		<div class="container">
			<h5>Upcomming Tournament</h5>
			<div class="row">
				<% for(i=0;i<result[1].length;i++){ %>
				<div class="col s12 m4">
				  <div class="card z-depth-5">
					<div class="card-image" >
					  <img src="image/pubg.jpg">
					  <span class="card-title"><%= result[1][i]. tournamentname %></span>
					  <a href="/tournament-detail?id=<%= result[1][i].id %>" class="btn-floating pluse halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
					</div>
					<div class="card-content" style="height: 24vh;">
						<i class="material-icons">calendar_today</i><p class="detail"><%= result[1][i]. startdate %></p><br>
						<i class="material-icons">map</i><P class="detail"><%= result[1][i]. map %></P>
						<i class="material-icons price">emoji_events</i><p class="detail-right"><%= result[1][i]. poolprice %></p><br><br><br>
						<i class="material-icons price">group</i><p class="detail-right"><%= result[1][i]. type %></p>
					</div>
				  </div>
				</div>
				<% } %>
		</div>
		<% }  else { %>

	<!-- Games sectopn -->
	<section class="games">
			<h5 class="text-center">Games</h5>

			<div class="carousel">
				<a class="carousel-item" href="#one!"><img src="https://cdn.gamingmonk.com/home-page/games/pubg-mobile.png"></a>
				<a class="carousel-item" href="#two!"><img src="https://cdn.gamingmonk.com/home-page/games/freefire.png"></a>
				<a class="carousel-item" href="#three!"><img src="https://cdn.gamingmonk.com/home-page/games/clash-royale.png"></a>
				<a class="carousel-item" href="#five!"><img src="https://cdn.gamingmonk.com/home-page/games/8-ball-pool.png"></a>
				<a class="carousel-item" href="#four!"><img src="https://cdn.gamingmonk.com/home-page/games/fortnite.png"></a>
				<a class="carousel-item" href="#five!"><img src="https://cdn.gamingmonk.com/home-page/games/pubg-pc.png"></a>
				<a class="carousel-item" href="#five!"><img src="https://cdn.gamingmonk.com/home-page/games/fifa-20.png"></a>
			</div>
	</section>
	<!-- feature part -->
	<section class="container">

		<div class="row full-width imgleftsec">
			<div class="col s6 imgleftsecinner">
				<img src="https://cdn.gamingmonk.com/home-page/features/play.png" alt="">
			</div>
			<div class="col s6 imgleftsecinnertext">
				<h3>PLAY AND WIN</h3>
				<p>Play competitive tournaments and win amazing cash prizes instantly! Join any of the multiple tournaments happening every hour, every day.</p>
				<a href="#"><button class="btn btn-download red darken-4">SIGN UP</button>
				<a href="#"><button class="btn btn-download red darken-4">BROWSE TOURNAMENT</button>
			</div>

		</div>


	<!--<div class="row full-width imgrightsec">

			<div class="col s6 imgrightsecinnertext">
				<h3>WATCH VIDEO</h3>
				<p>Watch your favourite streamers and interact with them. <br>Get a chance to win amazing cash prizes as well.</p>
				<a href="#"><button class="btn btn-download red darken-4">SIGN UP</button>
				<a href="#"><button class="btn btn-download red darken-4">BROWSE TOURNAMENT</button>
			</div>
			<div class="col s6 imgrightsecinner">
				<img src="https://cdn.gamingmonk.com/home-page/features/watch.png" alt="">
			</div>
		</div>


		<div class="row full-width imgleftsec">
			<div class="col s6 imgleftsecinner">
				<img src="https://cdn.gamingmonk.com/home-page/features/play.png" alt="">
			</div>
			<div class="col s6 imgleftsecinnertext">
				<h3>DISCOVER</h3>
				<p>Discover tips & tricks, latest news about your favorite games. Stay updated and use the knowledge to grow your skills.</p>
				<a href="#"><button class="btn btn-download red darken-4">SIGN UP</button>
				<a href="#"><button class="btn btn-download red darken-4">EXPLORE</button>
			</div>

		</div>-->	
	</section>  <% } %>

	<!-- footer -->
	<footer class="page-footer grey darken-4">
		<!--<div class="container">
		  <div class="row">
			<div class="col l6 s12">
			  <h5 class="white-text">Footer Content</h5>
			  <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
			</div>
			<div class="col l4 offset-l2 s12">
			  <h5 class="white-text">Links</h5>
			  <ul>
				<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
			  </ul>
			</div>
		  </div>
		</div>-->
		<div class="footer-copyright">
		  <div class="container">
		  © 2014 Copyright Text
		  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
		  </div>
		</div>
	  </footer>

	<!-- Compiled and minified JavaScript -->
	<script src="js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>
